<div class="bar bar-header bar-stable">
    <h1 class="title">Page 1 of 3</h1>
  </div>
<ion-content>
  <h1>Page 1 of</h1>
  <ul class="list">
    <li class="item item-checkbox item-text-wrap">
      <input type="checkbox" ng-model="installsOne.github" ng-change="checkboxStatus(installsOne, '#/page2')">     
      <h2><u>Create a Github account</u></h2>
      Github is the primary site that software developers throughout the world use to store their code, and share it with other developers. Visit the <a target='_blank' href="https://github.com/join">sign up page</a> and create your own, free account.
    </li>
    <li class="item item-checkbox item-text-wrap">
      <input type="checkbox" ng-model="installsOne.slack" ng-change="checkboxStatus(installsOne, '#/page2')">
      <h2><u>Install Slack and join NSS channel</u></h2>
      <ol>
        <li>Visit <a target='_blank' href="https://slack.com/">Slack</a> and enter in your email address and "Nashville Software School" into the fields of the sign up form, and submit.</li><br>
        <li>On the sign in page, enter in <mark>nashvillesoftware</mark> into the field labeled <i>teamdomain</i>, and click Continue.</li>
      </ol>
    </li>
    <li class="item item-checkbox item-text-wrap" >
      <input type="checkbox" ng-model="installsOne.treehouse" ng-change="checkboxStatus(installsOne, '#/page2')"> 
      <h2><u>Create Treehouse account</u></h2>
      Visit <a target='_blank' href="https://teamtreehouse.com/">treehouse</a> and create an account with the Basic Plan, which is $25 per month.
    </li>
    <li class="item item-checkbox item-text-wrap">
      <input type="checkbox" ng-model="installsOne.codepen" ng-change="checkboxStatus(installsOne, '#/page2')"> 
      <h2><u>Create Codepen account</u></h2>
      Visit the <a target='_blank' href="https://codepen.io/signup">Codepen sign up page</a>, and scroll all the way to the bottom to sign up for a free plan. If you like, you can click the "Use info from Github" button when creating your account.
    </li>
  </ul>
  <a class="button icon-left ion-chevron-left button-calm" href="#/">Previous</a>
  <a class="button icon-right ion-chevron-right button-calm" href="#/page2">Next</a>
  <a class="button button-royal" href="#/game" >Game</a>
</ion-content>