<ion-content>
  <li class="item item-checkbox item-text-wrap">
    <input type="checkbox"> 
    <h2><u>Vagrant</u></h2>
    Visit the <a href="https://www.virtualbox.org/wiki/Downloads">Vagrant download</a> page and download the installer for your operating system. Once complete, run the installer using all of the default options it provides.
  </li>
  <li class="item item-checkbox item-text-wrap">
    <input type="checkbox"> 
    <h2><u>Virtual Box</u></h2>
     Visit the <a href="https://www.virtualbox.org/wiki/Downloads">VirtualBox download</a> page and download the installer for your operating system. Once complete, run the installer using all of the default options it provides.
  </li><br>
  <li class="opSys">
    <label>Select your platform to continue:</label><br><br>
    <a href="#/win4" class="button button-half  button-dark windows-btn">Windows</a>
    <a href="#/mac4" class="button button-half  button-light windows-btn">Mac</a>
    <br><br>
    <a href="#/page2" id="directsion" class="button button-full  button-light windows-btn">Previous</a>
  </li>
</ion-content>