<div class="bar bar-header bar-stable">
  <h1 class="title">Page 3 of 3</h1>
</div>
<ion-content class="has-header">
  <li class="item item-checkbox item-text-wrap">
    <input type="checkbox"> 
    <h2><u>Vagrant</u></h2>
    Visit the <a target='_blank' href="https://www.virtualbox.org/wiki/Downloads">Vagrant download</a> page and download the installer for your operating system. Once complete, run the installer using all of the default options it provides.
  </li>
  <li class="item item-checkbox item-text-wrap">
    <input type="checkbox"> 
    <h2><u>Virtual Box</u></h2>
     Visit the <a target='_blank' href="https://www.virtualbox.org/wiki/Downloads">VirtualBox download</a> page and download the installer for your operating system. Once complete, run the installer using all of the default options it provides.
  </li><br>
  <li class="opSys">
    <label><h2>Select your platform to continue:</h2></label><br><br>
    <a class="button button-assertive" href="#/win4" >Windows</a>
    <a class="button button-balanced" href="#/mac4" >Mac</a>
    <br><br>
  </li><br><br>
    <a class="button icon-left ion-chevron-left button-calm" href="#/page2">Previous</a>
    <a class="button button-royal" href="#/game" >Game</a>
</ion-content>