<ion-content>
  <div class="list list-inset">
    <div class="item item-text-wrap">
      <label>Sublime Text</label>
      <p>Visit the <a href="http://www.sublimetext.com/3">Sublime Text</a> website and click the link that corresponds to your operating system. Then install once the download is complete.</p>
    </div>
    <div class="item item-text-wrap">
      <p>Install the Sublime Text <a href="https://packagecontrol.io/installation">package control</a> website and click the link that corresponds to your operating system. Then install once the download is complete.</p>
    </div>
    <div class="item item-text-wrap">
      <p>Read <a href="https://scotch.io/bar-talk/best-of-sublime-text-3-features-plugins-and-settings">this excellent introduction</a> to getting the very most out of Sublime Text. These tips will make coding more enjoyable and increase your speed.</p>
    </div>
    <div class="item item-text-wrap">
      <label>Vagrant</label>
      <p>Visit the <a href="https://www.virtualbox.org/wiki/Downloads">Vagrant download</a> page and download the installer for your operating system. Once complete, run the installer using all of the default options it provides.</p>
    </div>
    <div class="item item-text-wrap">
      <label>Select your platform to continue installs:</label>
      <a href="#" class="button button-half  button-dark windows-btn">Windows</a>
      <a href="#" class="button button-half  button-light windows-btn">Mac</a>
    </div>
  </div>
</ion-content>