<ion-content>
  <ul class="list">
    <li class="item item-checkbox item-text-wrap">
       <label class="checkbox">
         <input type="checkbox">
       </label>
      <h2>Create a Github account</h2>
      <p>Github is the primary site that software developers throughout the world use to store their code, and share it with other developers. Visit the <a href="https://github.com/join">sign up page</a> and create your own, free account.</p>
    </li>
  
 
    <li class="item item=checkbox  item-text-wrap">
      <label class="checkbox">
       <input type="checkbox">
      </label>
      <h2>Create a Github account</h2> 
      <p>Github is the primary site that software developers throughout the world use to store their code, and share it with other developers. Visit the <a href="https://github.com/join">sign up page</a> and create your own, free account.</p>
    </li>
  </ul>
    <div class="item item-text-wrap">
      <label>Install Slack and join NSS channel</label>
      <ol>
        <li>Visit <a href="https://slack.com/">Slack</a> and enter in your email address and "Nashville Software School" into the fields of the sign up form, and submit.</li>
        <li>On the sign in page, enter in <mark>nashvillesoftware</mark> into the field labeled <i>teamdomain</i>, and click Continue.</li>
      </ol>
    </div>
    <div class="item item-text-wrap">
      <label>Create Treehouse account</label>
      <p>Visit <a href="https://teamtreehouse.com/">treehouse</a> and create an account with the Basic Plan, which is $25 per month.</p>
    </div>
    <div class="item item-text-wrap">
      <label>Create Codepen account</label>
      <p>Visit the<a href="https://codepen.io/signup">Codepen sign up page</a>, and scroll all the way to the bottom to sign up for a free plan. If you like, you can click the "Use info from Github" button when creating your account.</p>
    </div>
    <div class="item item-text-wrap">
      <label>Google Chrome</label>
      <p><a href="https://www.google.com/chrome/browser/desktop/index.html">Google Chrome</a> is the most popular browser for web developers because of the powerful tools it provides to test code, manipulate documents, and measure performance.</p>
    </div>
    <div class="item item-text-wrap">
      <label>Google Cast extension</label>
      <p>Once Chrome is installed, open it and visit the <a href="https://www.google.com/chrome/browser/desktop/index.html">Chrome Store page</a> for Google Cast and install it. This will allow you to share your browser screen in the classroom.</p>
    </div>
    <div class="item item-text-wrap">
      <label>Sublime Text</label>
      <p>Once Chrome is installed, open it and visit the <a href="https://www.google.com/chrome/browser/desktop/index.Visit the Sublime Text website and click the link that corresponds to your operating system. Then install once the download is complete.html"></p>
    </div> 
  </div>
</ion-content>