<div class="bar bar-header bar-stable">
  <h1 class="title">Page 2 of 2</h1>
</div>
<ion-content class="has-header">
  <ul class="list">
    <li class="item item-checkbox item-text-wrap">
      <label class="checkbox">
      <input type="checkbox">
      </label>
      <h2><u>System setup</u></h2>
        When you read the text "execute the command something", enter in the command in your terminal, and always follow the command by pressing the enter key.
      </lil>
    </li>
    <li class="item item-checkbox item-text-wrap">
      <label class="checkbox">
      <input type="checkbox"> 
      </label>
      <h2><u>Setting up Vagrant</u></h2>
        Vagrant is a tool that lets you run a virtual machine that has much of the software that you'll need for class already installed and configured. Think of it as an operating system <u><b>inside</b></u> your operating system. It's actually an operating system called Linux, a specific brand called Ubuntu, that will run while your machine's default operating system is running. You can start it up, shut it down, pause it, or delete it entirely without affecting your default operating system.<br><br>

        It's why it's called a <i>virtual</i> machine.
    </li>
    <li class="item item-checkbox item-text-wrap">
      <label class="checkbox">
      <input type="checkbox">
      </label> 
      <h2><u>Windows Vagrant</u></h2>
      
        1. Open the Git powershell program that you installed earlier as an administrator. It will be labeled "Git bash" in your start menu or desktop. To open as administrator, right-click the icon and select "Run as administrator option".<br><br>
        2. Execute the command <mark>cd</mark> which is the command to change directory. This is what's called your home directory. You can execute the command <mark>pwd</mark> (print working directory) to see the actual path in on your hard drive to that directory. It should be something like <mark>/c/Users/Steve</mark>, except instead of Steve you will see your account username.<br><br>
        3. Create a new directory inside your home directory by executing the command mkdir workspace. This creates the directory /c/Users/Steve/workspace. This is the directory on your hard drive where we will be writing all of the code your learn during class.<br><br>
        4. Go into that directory by executing the command <mark>cd workspace.</mark><br><br>
        5. If you have not yet installed Vagrant or VirtualBox, please go and do that now.
        6. Execute the following command. Hint, you can copy and paste from here into your terminal so you don't have to manually type all that in:<br> <mark>vagrant init vagrant-trusty64 http://www.stevebrownlee.com/content/images/nss-base.box</mark><br><br>
        7. Once that completes, execute the command <mark>vagrant up</mark>. This will take some time and you'll notice a progress bar in your terminal while it's working.<br><br>
        8. After that machine starts, you can then execute the command <mark>vagrant halt</mark> which will put the virtual machine into suspended animation until you're ready to start using it in class.
    </li>
  </ul>
  <a class="button icon-left ion-chevron-left button-calm" href="#/win4">Previous</a>
  <a class="button icon-left on-home button-energized" href="#/">Home</a>
  <a class="button button-royal" href="#/game" >Game</a>
</ion-content>
