/* Empty. Add your own CSS if you like */

i { 
    font-style: italic;
}

label {
  font-weight: bold;
}

img {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -(180/2)px;
    margin-top: -(180/2)px;
}

.checkbox {
  float: left;
}
