/* Empty. Add your own CSS if you like */

i { 
    font-style: italic;
}

mark {
  background-color: #F0E68C;
}

.opSys {
  text-align: center;
  list-style-type: none;
}

li {
  text-align: justify;
}

img {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -(180/2)px;
    margin-top: -(180/2)px;
}

